.DrawingArea{
    display: flex;
	height: 310px;
    min-width: 640px;
	margin: 30px;
	justify-content: space-around;
	align-items: center;
    align-self: stretch;
	flex-direction: row;
    border: 1px solid black;
}
