.Button {
    background-color: white;
    color: black;
    border: 2px solid orangered;
    font-family: Segoe UI;
    font-weight: normal;
    font-size: large;
    border-radius: 6px;
}

.Button:hover {
    background-color: orangered;
    color: white;
}
