.PalettePixel{
    height: 40px;
	width: 40px;
	margin: 2px;
	padding: 2px;
	border: 1px solid white;
    font-size: 12px;
	cursor: pointer;
}
.PalettePixel:hover {
	border: 1px solid blue; 
	box-shadow: 0 0 2px blue;
}
.PalettePixel:active{
	border: 1px solid black;
}
.PalettePixel:focus {
	border: 1px solid blue;
}